<IfModule mod_rewrite.c>
    ##Force SSL 
    #Heroku way
    RewriteCond %{HTTP:X-Forwarded-Proto} !https 
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>